.toolbarbutton-1 {
    border: 1px solid transparent !important;
    padding: 0px 3px !important;
    border-radius: 0px !important;
    margin: 2px !important;
}

.toolbarbutton-1:hover {
    background-color: #444444 !important;
    border: 1px solid #5b5b5b !important;
}

.toolbarbutton-icon,
.toolbarbutton-badge-stack {
    background-color: transparent !important;
}

toolbarbutton.bookmark-item {
    background-color: transparent !important;
    border: 1px solid transparent !important;
    padding: 2px 4px !important;
    border-radius: 0px !important;
    margin: 0px 1px !important;
}

toolbarbutton.bookmark-item:hover {
    background-color: #444444 !important;
    border: 1px solid #5b5b5b !important;
}

#personal-bookmarks .bookmark-item>.toolbarbutton-text {
    margin-left: 5px !important;
    margin-right: 0px !important;
}

#personal-bookmarks .bookmark-item>.toolbarbutton-icon {
    margin-left: 4px !important;
}

.tabs-newtab-button {
    padding: 0px !important;
}

.tabs-newtab-button:hover {
    background-color: #444444 !important;
    border: 1px solid #5b5b5b !important;
}

:root[sizemode="normal"][tabsintitlebar] {
    border: 1px solid rgba(70, 70, 70, .7) !important;
}

.toolbar-items {
    padding-top: 0px !important;
}

.titlebar-spacer[type="pre-tabs"],
.titlebar-spacer[type="post-tabs"] {
    width: 0px !important;
}

#tabbrowser-tabs .arrowscrollbox-scrollbox {
    padding-left: 10px;
}

#TabsToolbar .tabbrowser-tab {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.browser-toolbar:not(.titlebar-color) {
    background-color: #171717 !important;
}

.tab-background[selected="true"] {
    background-attachment: none!important;
    background-color: #171717 !important;
    background-image: none!important;
    background-position: none!important;
    background-repeat: none!important;
    background-size: none!important;
}

#PersonalToolbar {
    height: 30px !important;
}

#navigator-toolbox {
    border-bottom: 1px solid #5b5b5b;
}

.tabbrowser-tab[visuallyselected="true"] {
    box-shadow: 0px 0px 8px 0px #161616;
}

.titlebar-spacer[type="pre-tabs"] {
    border: 0px !important;
}


/* https://github.com/AkazaDorian/Edgefox */


/* Hide seperator between More and Menu buttons */

* #PanelUI-button,
#main-window:not([uidensity=compact]) * #PanelUI-button {
    margin-inline-start: 0px !important;
    border-inline-start: 0px solid !important;
    margin-inline-end: 0px !important;
    border-inline-end: 0px solid !important;
    border-image: unset !important;
    border-image-slice: 0 !important;
}


/* Disable tab top border roundness */

#TabsToolbar .tabs-newtab-button,
#TabsToolbar .tabbrowser-tab,
#TabsToolbar .tabbrowser-tab .tab-stack,
#TabsToolbar .tabbrowser-tab .tab-background,
#TabsToolbar .tabbrowser-tab .tab-content,
#TabsToolbar .tabbrowser-tab::after,
#TabsToolbar .tabbrowser-tab::before,
:root[tabsintitlebar]:not([extradragspace]) #toolbar-menubar[autohide=true]~#TabsToolbar>#tabbrowser-tabs>.tabbrowser-tab::after,
:root[tabsintitlebar]:not([extradragspace]) #toolbar-menubar[autohide=true]~#TabsToolbar>#tabbrowser-tabs>.tabbrowser-tab::before,
#TabsToolbar .tabbrowser-tab:hover::before,
#TabsToolbar .tabbrowser-tab[last-visible-tab]:hover::after,
#TabsToolbar #tabbrowser-tabs:not([movingtab])>.tabbrowser-tab[afterhovered]::before {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    height: 30px !important;
}


/* Let tab close button show only when the tab is active or hovered */

.tabbrowser-tab:not([pinned]):not([selected="true"]):not(:hover) .tab-close-button {
    visibility: collapse !important;
}

.tabbrowser-tab:not([pinned]):hover .tab-close-button {
    visibility: visible !important;
    display: block !important;
}


/* Disable the tab line ontop of the active tab */

.tab-line {
    display: none !important;
}

#nav-bar {
    height: 40px !important;
}

#TabsToolbar .titlebar-placeholder[type="pre-tabs"],
#TabsToolbar .titlebar-placeholder[type="post-tabs"] {
    min-width: 0 !important;
    width: 0 !important;
    max-width: 0 !important;
}

#TabsToolbar .titlebar-placeholder[type="caption-buttons"] {
    -moz-margin-start: 31px !important;
}


/* Make address bar Edge-like */

.searchbar-textbox,
#urlbar {
    border: 1px solid #5b5b5b !important;
}

#urlbar[focused=true] {
    border-color: #5b5b5b !important;
}

#urlbar,
.searchbar-textbox {
    min-height: 0px !important;
    height: 32px !important;
    font-size: 13px !important;
    background-color: #373737 !important;
    border-color: #5b5b5b !important;
    border-radius: 0px !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.urlbar-icon,
#main-window[uidensity=compact] .urlbar-icon,
#main-window[uidensity=touch] .urlbar-icon {
    width: 24px !important;
    height: 24px !important;
    margin: 0 !important;
}

#urlbar #reader-mode-button,
#main-window[uidensity=compact] #urlbar #reader-mode-button,
#main-window[uidensity=touch] #urlbar #reader-mode-button {
    padding: 1px !important;
}

.searchbar-search-icon {
    margin-inline-start: 4px !important;
    margin-inline-end: 4px !important;
}


/* Tab toolbar position */

#TabsToolbar {
    padding-right: 0px !important;
    padding-left: 0px !important;
    min-height: unset !important;
    background-color: #2b2b2b !important
}


/* Context menus: https://gist.github.com/Guerra24/6d7bc4be8849bb8d6eef3a2a74d68e1f */

menupopup {
    -moz-appearance: none !important;
    padding: 8px 2px 8px 2px !important;
    background-color: #2B2B2B !important;
    border: 1px #A0A0A0 solid !important;
    min-width: 280px !important;
}

menuseparator {
    -moz-appearance: none !important;
    border: none !important;
    padding: .5px 0px .5px 0px !important;
    margin: 4px 8px 4px 8px !important;
    background-color: #808080 !important;
}

menuitem,
menu {
    -moz-appearance: none !important;
    color: white !important;
    padding: 7.5px 0px 7.5px 0px !important;
}

menuitem[disabled="true"],
menuitem[disabled="true"]>.menu-text {
    color: gray !important;
}

menuitem:hover,
menu:hover,
menu[open="true"],
menuitem[_moz-menuactive="true"] {
    -moz-appearance: none !important;
    padding: 7.5px 0px 7.5px 0px !important;
    background-color: #414141 !important;
}

menugroup {
    padding: 0px !important;
    background-color: transparent !important;
}

menuitem>.menu-text,
menuitem>.menu-iconic-text {
    color: white !important;
}

menuitem[type="checkbox"] {
    padding-left: 8px !important;
    padding-top: 6.5px !important;
    padding-bottom: 6.5px !important;
}

menuitem[type="radio"] {
    padding-left: 8px !important;
    padding-top: 6.5px !important;
    padding-bottom: 6.5px !important;
}

menuitem[type="checkbox"]>.menu-iconic-text,
menuitem[type="radio"]>.menu-iconic-text {
    padding-left: 5px !important;
}

menuitem[checked="true"][type="checkbox"]>.menu-iconic-left {
    padding: 7px 0px 0px 0px !important;
    border: solid white;
    border-width: 0 0 2px 2px;
    transform: rotate(-45deg) scale(.75);
    margin-bottom: 4px !important;
}

menuitem[checked="true"][type="radio"]>.menu-iconic-left {
    padding: 1px !important;
    border: solid white;
    height: 17px !important;
    border-radius: 100%;
    background: white;
    transform: scale(.5);
}

menucaption {
    background-color: transparent !important;
    color: white !important;
}

#ContentSelectDropdown>menupopup {
    background-image: none !important;
}

#ContentSelectDropdown {
    padding: 0px !important;
}

menulist {
    -moz-appearance: none !important;
    padding: 4px 4px 4px 4px !important;
    border: 2px solid #666666 !important;
    background-color: transparent !important;
}

menulist:hover {
    padding: 4px 4px 4px 4px !important;
    border: 2px solid #999999 !important;
    background-color: transparent !important;
}

menulist[open="true"] {
    border: 2px solid #666666 !important;
    background-color: #333333 !important;
}

#context-back>.menu-iconic-left,
#context-forward>.menu-iconic-left,
#context-reload>.menu-iconic-left,
#context-stop>.menu-iconic-left,
#context-bookmarkpage>.menu-iconic-left {
    padding: 0px !important;
}

.menu-iconic-left {
    -moz-appearance: none !important;
    padding: 0px 5px 0px 9px !important;
}

.menu-right {
    -moz-appearance: none !important;
    padding: 7.5px !important;
    margin-right: 6px !important;
    color: white !important;
    border: solid white;
    border-width: 0 2px 2px 0px;
    transform: rotate(-45deg) scale(.55);
}

tooltip {
    -moz-appearance: none !important;
    color: white !important;
    background-color: #2B2B2B !important;
    border: 1px solid #767676 !important;
    padding: 6.5px !important;
}